body{
	margin: 0px;
	font-family: verdana;
}

main{
	display: flex;
	flex-wrap: wrap;
	
}
#products{
	width: 70%;
	padding: 1em;
	background-color: snow;
	display: flex;
	flex-wrap: wrap; 
}
aside{
	flex: 1;
	padding: 1em;
	background-color: #232f3f;
	color: snow;
}

li {
	display: flex;
	justify-content: space-between;
}
.pDiv{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20%;
	height: 20vh;
	margin: 1em;
	border: solid #232f3f;
	border-radius: 2px;
	box-shadow: 3px 3px 8px black;

}
[id*="liId"] button{
	margin-left: 5px;
}